*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns:repeat(12,1fr) ;
    gap:5px ;
}

.header{
    grid-column: span   12;
    grid-row:span 4 ;
    
    
}
.nav ul{
    grid-column:span 12 ;
    grid-row:span 2 ;
    color: blue;
    display:flex;
    justify-content: space-between;
    font-size:3px;
    list-style: none;
    margin-top: 10px;
    padding: 15px;
  
}
a{
    text-decoration: none;
}
.main{
    grid-column:span 12 ;
    grid-row:span 14 ;
    background-color: aqua;
}
.section{
    grid-column:span 3 ;
    grid-row:span 3 ;
    background-color: aqua;
}
.section1{
    grid-column:span 3 ;
    grid-row:span 3 ;
    background-color: aqua;
}
.footer{
    grid-column:span 12 ;
    grid-row:span 3 ;
    background-color: aqua;
}